<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assetmanager Data Viewer</title>
    <style>
		.iframe100 {   display: block;   border: none;   height: 100vh;   width: 100vw; }
	</style>
</head>
<body>
<h2>입력데이터 목록</h2>

<form method="post" >
<h3>삭제하고자하는 날짜 입력 :

        <input type = "date" value = "2018-10-01" name = "date"
        style="height:35px;font-size:17pt;font-weight:bold">
    <button type="delete" class="btn" value="Click" name = "delete_btn"
            style="height:35px;font-size:17pt"
    onclick="return confirm('해당 날짜의 데이터를 삭제할까요?')">delete records </button>
</h3>
    <h2>{{result}}</h2>

</form>
    <form method="get" >
    <button type="delete" class="btn" name = "refresh"
    style="height:30lpx;font-size:12pt"> 다시 출력 </button>
</form>
<br>
<iframe src="http://idas.gachon.ac.kr:9600/goto/d60ca6a3ad35a6588d34173f685c3e92?embed=true"
        class = "iframe100"></iframe>

</body>
</html>