<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assetmanager Data Viewer</title>
    <style>
		.iframe100 {   display: block;   border: none;   height: 100vh;   width: 100vw; }
	</style>
</head>
<body>
<iframe src="http://idas.gachon.ac.kr:9600/app/kibana#/dashboard/38c23530-bc99-11e8-bfe3-4d0a511c27a8?embed=true&_g=(refreshInterval:(display:'30+seconds',pause:!f,section:1,value:30000),time:(from:now%2Fy,mode:quick,to:now%2Fy))&_a=(filters:!(),options:(darkTheme:!t),panels:!((col:1,columns:!(_source),id:'21ddc3c0-bc99-11e8-bfe3-4d0a511c27a8',panelIndex:1,row:1,size_x:12,size_y:3,sort:!(submit_date,desc),type:search)),query:(query_string:(analyze_wildcard:!t,query:'*')),timeRestore:!t,title:'assetDashboard+all',uiState:(),viewMode:view)"
        class = "iframe100"></iframe>

</body>
</html>