<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

<html>
<head>
    <title>Test Page</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="{% static 'assets/css/button.css' %}">

</head>



<body>
  <div class="wrapper">
<!--  Button 2 -->
    <h2> 도로포장 품질인자
        <br>데이터 모니터링 대시보드 </h2>
      <br>
   <a href="http://idas.gachon.ac.kr:9600/d/p_rLsxZMk/test-sigaghwa?orgId=1&refresh=5s&kiosk" class="btn10">
    초기 대시보드 샘플
  </a>
      <br>
    <a href="http://idas.gachon.ac.kr:9600/d/_EWuaqhGk/simenteu-konkeuriteu-sigonghyeonjang-sigaghwa?orgId=1&refresh=5s&kiosk" class="btn10">
    개정 품질인자 <br> 반영 대시보드 샘플
  </a>



  </div>
</body>


</html>